
<div class="card">



    <div class="table-responsive">
        <table class="table primary-table-bordered">
            <thead class="thead-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">نوع الاعلان </th>
                    <th scope="col"> الوصف  </th>
                    <th scope="col">التاريخ  </th>
                    <th scope="col">   </th>
                </tr>
            </thead>
            <tbody>

                <tr class="odd">
                    <td class="sorting_1"><img class="rounded-circle" width="35" src="~/edumin/images/currency-icon.png" alt=""></td>

                    <td>اعلان مالي</td>
                    <td><a href="javascript:void(0);"><strong>لديك رسموم متبقية عبارة عن القسط الاول</strong></a></td>
                    <td>2011/04/25</td>
                    <td>
                        @*<a href="javascript:void(0);" class="btn btn-xs sharp btn-primary"><i class="fa fa-pencil"></i></a>*@
                        <a href="javascript:void(0);" class="btn btn-xs sharp btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr class="even">
                    <td class="sorting_1"><img class="rounded-circle" width="35" src="~/edumin/images/currency-icon.png" alt=""></td>

                    <td>اعلان مالي</td>
                    <td><a href="javascript:void(0);"><strong>لديك رسموم متبقية عبارة عن القسط الاول</strong></a></td>
                    <td>2011/04/25</td>
                    <td>
                        @*<a href="javascript:void(0);" class="btn btn-xs sharp btn-primary"><i class="fa fa-pencil"></i></a>*@
                        <a href="javascript:void(0);" class="btn btn-xs sharp btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td class="sorting_1"><img class="rounded-circle" width="35" src="~/edumin/images/currency-icon.png" alt=""></td>

                    <td>اعلان مالي</td>
                    <td><a href="javascript:void(0);"><strong>لديك رسموم متبقية عبارة عن القسط الاول</strong></a></td>
                    <td>2011/04/25</td>
                    <td>
                        @*<a href="javascript:void(0);" class="btn btn-xs sharp btn-primary"><i class="fa fa-pencil"></i></a>*@
                        <a href="javascript:void(0);" class="btn btn-xs sharp btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr class="even">
                    <td class="sorting_1"><img class="rounded-circle" width="35" src="~/edumin/images/currency-icon.png" alt=""></td>

                    <td>اعلان مالي</td>
                    <td><a href="javascript:void(0);"><strong>لديك رسموم متبقية عبارة عن القسط الاول</strong></a></td>
                    <td>2011/04/25</td>
                    <td>
                        @*<a href="javascript:void(0);" class="btn btn-xs sharp btn-primary"><i class="fa fa-pencil"></i></a>*@
                        <a href="javascript:void(0);" class="btn btn-xs sharp btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td class="sorting_1"><img class="rounded-circle" width="35" src="~/edumin/images/currency-icon.png" alt=""></td>

                    <td>اعلان مالي</td>
                    <td><a href="javascript:void(0);"><strong>لديك رسموم متبقية عبارة عن القسط الاول</strong></a></td>
                    <td>2011/04/25</td>
                    <td>
                        @*<a href="javascript:void(0);" class="btn btn-xs sharp btn-primary"><i class="fa fa-pencil"></i></a>*@
                        <a href="javascript:void(0);" class="btn btn-xs sharp btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr class="even">
                    <td class="sorting_1"><img class="rounded-circle" width="35" src="~/edumin/images/currency-icon.png" alt=""></td>

                    <td>اعلان مالي</td>
                    <td><a href="javascript:void(0);"><strong>لديك رسموم متبقية عبارة عن القسط الاول</strong></a></td>
                    <td>2011/04/25</td>
                    <td>
                        @*<a href="javascript:void(0);" class="btn btn-xs sharp btn-primary"><i class="fa fa-pencil"></i></a>*@
                        <a href="javascript:void(0);" class="btn btn-xs sharp btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td class="sorting_1"><img class="rounded-circle" width="35" src="~/edumin/images/currency-icon.png" alt=""></td>

                    <td>اعلان مالي</td>
                    <td><a href="javascript:void(0);"><strong>لديك رسموم متبقية عبارة عن القسط الاول</strong></a></td>
                    <td>2011/04/25</td>
                    <td>
                        @*<a href="javascript:void(0);" class="btn btn-xs sharp btn-primary"><i class="fa fa-pencil"></i></a>*@
                        <a href="javascript:void(0);" class="btn btn-xs sharp btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>

        </table>


    </div>

</div>