
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">

    <!-- row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 email-left-body">
                            <div class="email-left-box">

                               

                                <div class="mail-list rounded mt-4">

                                    <a href="EmailInbox.html" class="list-group-item active">


                                        <span class="badge badge-danger badge-sm float-end" style="margin-left: 20px;">3</span>

                                        واجبات اليوم  2024 /8/18
                                    </a>


                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>  حاسوب
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>  رياضيات
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>قران كريم
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-9">

                            <div class="accordion accordion-danger-solid" id="accordion-two">
                                 
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bordered_collapseTwo1">
                                            <span style="margin-right: 44%;">حاسوب</span>
                                        </button>
                                    </h2>
                                    <div id="bordered_collapseTwo1" class="accordion-collapse collapse" data-bs-parent="#accordion-two">
                                        <div class="accordion-body">

                                            <h4 class="mb-3">   س 1 : ماهو جهاز الحاسب الالي؟</h4>

                                            <hr class="mb-4">
                                            <div class="custom-control form-check mb-2">
                                                <input type="checkbox" class="form-check-input" id="same-address"style="margin-left: 50%;">
                                                <label class="form-check-label" for="same-address" >
                                                    Shipping address
                                                    is
                                                    the same as
                                                    my billing address
                                                </label>
                                            </div>
                                            <div class="custom-control form-check mb-2">
                                                <input type="checkbox" class="form-check-input" id="save-info"style="margin-left: 50%;">
                                                <label class="form-check-label" for="save-info">
                                                    Save this
                                                    information
                                                    for next
                                                    time
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bordered_collapseTwo">
                                            <span style="margin-right: 44%;">رياضيات</span>
                                        </button>
                                    </h2>
                                    <div id="bordered_collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion-two">
                                        <div class="accordion-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bordered_collapseThree">
                                            <span style="margin-right: 44%;">  قران كريم</span>
                                        </button>
                                    </h2>
                                    <div id="bordered_collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion-two">
                                        <div class="accordion-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

