
@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">
 
    <!-- row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 email-left-body">
                            <div class="email-left-box">

                                <div class="mail-list rounded mt-4">

                                    <a href="EmailInbox.html" class="list-group-item active">


                                        <span class="badge badge-danger badge-sm float-end" style="margin-left: 20px;">8</span>

                                        حصص اليوم  2024 /8/18
                                    </a>

                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>لغة عربية
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>لغة انجليزية
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>  حاسوب
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>  رياضيات
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>قران كريم
                                    </a>
                                </div>

                                <div class="mail-list rounded mt-4">

                                    <a href="EmailInbox.html" class="list-group-item active">


                                        <span class="badge badge-danger badge-sm float-end" style="margin-left: 20px;">3</span>

                                        واجبات اليوم  2024 /8/18
                                    </a>

                                    
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>  حاسوب
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>  رياضيات
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <i class=""></i>قران كريم
                                    </a>
                                </div>
                            
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="email-right-box">
                                <div class="card">
                                    <div class="post-details">
                                        <h3 class="mb-2">Collection of textile samples lay spread</h3>

                                        <img src="/edumin/images/profile/8.jpg" alt="" class="img-fluid mb-3 rounded w-100">

                                        <div class="profile-skills mt-5 mb-5">

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

