
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">

                التقويم الدراسي للعام 2024 
            <table class="table primary-table-bordered">
                <thead class="thead-primary"></thead>

            </table>
        </div>
        <div class="table-responsive">
            <table class="table primary-table-bordered">
                <thead class="thead-primary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">الحدث </th>
                        <th scope="col"> عدد الاسابيع </th>
                        <th scope="col">يبداء </th>
                        <th scope="col">ينتهي </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>الدراسة</td>
                        <td>8 اسبوع </td>
                        <td> 5/8/2024</td>
                        <td> 20/9/2024</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>الامتحنات</td>
                        <td>Thornton</td>
                        <td> 5/3/2024</td>
                        <td> 20/9/2024</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>النتيجة</td>
                        <td>5 اسبوع </td>
                        <td> 5/8/2024</td>
                        <td> 20/9/2024</td>
                    </tr>
                </tbody>

            </table>


        </div>
    </div>

</div>