
@{
    ViewBag.Title = "Index";
}



<div class="container-fluid">
    
    <!-- row -->
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="clearfix">
                <div class="card card-bx profile-card author-profile m-b30">
                    <div class="card-body">
                        <div class="p-5">
                            <div class="author-profile">
                                <div class="author-media">
                                    <img src="~/edumin/images/tab/1.jpg" alt="">
                              
                                </div>
                                <div class="author-info">
                                    <h6 class="title">عماد علي عمر احمد</h6>
                                    <span> مستمر</span>
                                </div>
                            </div>
                        </div>
                        <div class="info-list">
                            <ul>
                                <li><a href="AppProfile.html">الصف الثاني ثانوي</a></li>
                                <li><a href="UcLightgallery.html">الخرطوم /  الاذهري مربع 5</a></li>
                                <li><a href="AppProfile.html">هاتف ولي الامر</a><span>0914956887</span></li>
                            </ul>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="card profile-card card-bx m-b30">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table primary-table-bordered">
                            <thead class="thead-primary">
                                الفصل الدراسيي الاول
                            </thead>

                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table primary-table-bordered">
                            <thead class="thead-primary">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">اسم المادة</th>
                                    <th scope="col">   الدرجة الكاملة</th>
                                    <th scope="col">   الدرجة المحرزة</th>
                                    <th scope="col">التقدير</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@@mdo</td>
                                    <td>@@mdo</td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@@fat</td>
                                    <td>@@mdo</td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@@twitter</td>
                                    <td>@@mdo</td>
                                </tr>
                            </tbody>

                        </table>

                        <span>المجموع</span>  <span>90</span>
                        <span>النسبة</span>  <span>80%</span>
                        <span>الترتيب في الصف</span>  <span>3</span>
                        <span>التقدير</span>  <span>جيد جدا</span>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table primary-table-bordered">
                            <thead class="thead-primary">
                                الفصل الدراسيي الثاني
                            </thead>

                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table primary-table-bordered">
                            <thead class="thead-primary">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">اسم المادة</th>
                                    <th scope="col">   الدرجة الكاملة</th>
                                    <th scope="col">   الدرجة المحرزة</th>
                                    <th scope="col">التقدير</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@@mdo</td>
                                    <td>@@mdo</td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@@fat</td>
                                    <td>@@mdo</td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@@twitter</td>
                                    <td>@@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table primary-table-bordered">
                            <thead class="thead-primary">
                                الفصل الدراسيي الثالث
                            </thead>

                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table primary-table-bordered">
                            <thead class="thead-primary">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">اسم المادة</th>
                                    <th scope="col">   الدرجة الكاملة</th>
                                    <th scope="col">   الدرجة المحرزة</th>
                                    <th scope="col">التقدير</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@@mdo</td>
                                    <td>@@mdo</td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@@fat</td>
                                    <td>@@mdo</td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@@twitter</td>
                                    <td>@@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

