<!--**********************************

    Sidebar start
***********************************-->

<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first"> القائمة الرئيسية  </li>
            @*<------------------------------ 1 ------------------------------!>*@

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-desktop"></i>
                    <span class="nav-text">اعدادت المدرسة   </span>
                </a>
                <ul aria-expanded="false">

                    <li><a href="AllProfessors.html">الأساتذة  </a></li>
                    <li><a href="AllProfessors.html">الطلاب   </a></li>
                    <li><a href="AllProfessors.html">الفصول الدراسة  </a></li>
                    <li><a href="AllProfessors.html"> المواد الدراسية </a></li>

                </ul>
            </li>

            @*<------------------------------ 2 ------------------------------!>*@

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-users"></i>
                    <span class="nav-text">ادارة المكتبة</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="AllStudents.html">انشاء مكتبة</a></li>
                    <li><a href="AllStudents.html">   اسناد المواد الي المكتبة  </a></li>

                </ul>
            </li>
            <li class="nav-label"></li>
            @*<------------------------------ 3 ------------------------------!>*@

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-users"></i>
                    <span class="nav-text">ادارة الاعلانات</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="AllStudents.html">انشاء اعلان</a></li>
                    <li><a href="AllStudents.html">  اسناد الاعلان لي الفصول</a></li>

                </ul>
            </li>

            @*<------------------------------ 4 ------------------------------!>*@

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-users"></i>
                    <span class="nav-text">ادارة الاسناد</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="AllStudents.html">اسناد المواد للفصول</a></li>
                    <li><a href="AllStudents.html">اسناد الامتحنات للفصول</a></li>
                    <li><a href="AllStudents.html">اسناد النتئاج للفصول</a></li>
                </ul>
            </li>
            <li class="nav-label"></li>
            @*<------------------------------ 5 ------------------------------!>*@

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-building"></i>
                    <span class="nav-text">ادارة جدول الحصص </span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="AllStudents.html"> جدول الحصص حسب الفصل</a></li>
                </ul>
            </li>

            @*<------------------------------ 6 ------------------------------!>*@
            <li class="nav-label"></li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-dollar"></i>
                    <span class="nav-text">ادارة الحسابات</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="AllStudents.html">حسبات الطلاب</a></li>
                    <li><a href="AllStudents.html">تقرير الحسابات</a></li>

                </ul>
            </li>

        </ul>

    </div>
</div>
 
